{:index 0, :time 13111833, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 18284125, :type :ok, :process 0, :f :read, :value []}
{:index 2, :time 156018166, :type :invoke, :process 1, :f :broadcast, :value 0}
{:index 3, :time 323224708, :type :invoke, :process 2, :f :read, :value nil}
{:index 4, :time 515385875, :type :invoke, :process 3, :f :read, :value nil}
{:index 5, :time 630760916, :type :invoke, :process 4, :f :read, :value nil}
{:index 6, :time 823370000, :type :invoke, :process 0, :f :read, :value nil}
{:index 7, :time 5162639166, :type :info, :process 1, :f :broadcast, :value 0, :error :net-timeout}
{:index 8, :time 5162848541, :type :invoke, :process 6, :f :broadcast, :value 1}
{:index 9, :time 5331869541, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 10, :time 5331983208, :type :invoke, :process 2, :f :broadcast, :value 2}
{:index 11, :time 5524428666, :type :fail, :process 3, :f :read, :value nil, :error :net-timeout}
{:index 12, :time 5524597916, :type :invoke, :process 3, :f :broadcast, :value 3}
{:index 13, :time 5632758666, :type :fail, :process 4, :f :read, :value nil, :error :net-timeout}
{:index 14, :time 5632854333, :type :invoke, :process 4, :f :read, :value nil}
{:index 15, :time 5828993791, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 16, :time 5829199083, :type :invoke, :process 0, :f :read, :value nil}
{:index 17, :time 10178307666, :type :info, :process 6, :f :broadcast, :value 1, :error :net-timeout}
{:index 18, :time 10178629250, :type :invoke, :process 11, :f :read, :value nil}
{:index 19, :time 10248384291, :type :ok, :process 11, :f :read, :value [0 1]}
{:index 20, :time 10334396458, :type :info, :process 2, :f :broadcast, :value 2, :error :net-timeout}
{:index 21, :time 10379521208, :type :invoke, :process 11, :f :broadcast, :value 4}
{:index 22, :time 10465471708, :type :invoke, :process 7, :f :broadcast, :value 5}
{:index 23, :time 10530005916, :type :info, :process 3, :f :broadcast, :value 3, :error :net-timeout}
{:index 24, :time 10595631375, :type :invoke, :process 8, :f :broadcast, :value 6}
{:index 25, :time 10634426500, :type :fail, :process 4, :f :read, :value nil, :error :net-timeout}
{:index 26, :time 10634515916, :type :invoke, :process 4, :f :broadcast, :value 7}
{:index 27, :time 10829804125, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 28, :time 10829897250, :type :invoke, :process 0, :f :read, :value nil}
{:index 29, :time 15394532375, :type :info, :process 11, :f :broadcast, :value 4, :error :net-timeout}
{:index 30, :time 15394693291, :type :invoke, :process 16, :f :broadcast, :value 8}
{:index 31, :time 15470748750, :type :info, :process 7, :f :broadcast, :value 5, :error :net-timeout}
{:index 32, :time 15470874666, :type :invoke, :process 12, :f :read, :value nil}
{:index 33, :time 15600664083, :type :info, :process 8, :f :broadcast, :value 6, :error :net-timeout}
{:index 34, :time 15615555875, :type :invoke, :process 13, :f :broadcast, :value 9}
{:index 35, :time 15640051416, :type :info, :process 4, :f :broadcast, :value 7, :error :net-timeout}
{:index 36, :time 15697627125, :type :invoke, :process 9, :f :broadcast, :value 10}
{:index 37, :time 15839772625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 38, :time 15839858041, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 20410023041, :type :info, :process 16, :f :broadcast, :value 8, :error :net-timeout}
{:index 40, :time 20475704375, :type :fail, :process 12, :f :read, :value nil, :error :net-timeout}
{:index 41, :time 20620679375, :type :info, :process 13, :f :broadcast, :value 9, :error :net-timeout}
{:index 42, :time 20703569041, :type :info, :process 9, :f :broadcast, :value 10, :error :net-timeout}
{:index 43, :time 20842620833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 44, :time 30848022041, :type :invoke, :process 0, :f :read, :value nil, :final? true}
{:index 45, :time 30849916250, :type :invoke, :process 18, :f :read, :value nil, :final? true}
{:index 46, :time 30850216041, :type :invoke, :process 21, :f :read, :value nil, :final? true}
{:index 47, :time 30850704375, :type :invoke, :process 12, :f :read, :value nil, :final? true}
{:index 48, :time 30850975375, :type :invoke, :process 14, :f :read, :value nil, :final? true}
{:index 49, :time 30853580916, :type :ok, :process 21, :f :read, :value [1 4 8 0], :final? true}
{:index 50, :time 35861336083, :type :fail, :process 18, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 51, :time 35862098416, :type :fail, :process 14, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 52, :time 35862360916, :type :fail, :process 12, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 53, :time 35862385083, :type :fail, :process 0, :f :read, :value nil, :final? true, :error :net-timeout}
